<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>台北一日遊</title>
    <link rel="stylesheet" href="/static/attraction/attraction.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/login/login.css">
</head>
<body>
    <div class='loginBox active'>
        <span class='show'></span>
        <div class='decorator'></div>
        <div class='LoginEd'>
            <h3>登入會員帳號<p class='close' >X</p></h3>
            <form >
                <input type="email" name="email" id="email" placeholder="輸入電子信箱">
                <input type='password' name='password' id='password' placeholder="輸入密碼">
                <input type="submit" id='login' value='登入帳戶'>
                <span id='login_tip'></span>
                <p class='check'>還沒有帳戶?<span class='register' id='click_register'>點此註冊</span></p>
            </form>
        </div>
    </div>

    <div class='registeredBox active'>
        <span class='register_show'></span>
        <div class='decorator'></div>
        <div class='registered'>
            <h3>註冊會員帳號<span class='close' id='register_close'>X</span></h3>
            <form >
                <input type="text" name="register_name" id="register_name" placeholder="輸入姓名">
                <input type="email" name="register_email" id="register_email" placeholder="輸入電子郵件">
                <input type="password" name='register_password' id='register_password' placeholder="輸入密碼">
                <input type="submit" value="註冊新帳戶" id='registerBtn'>
                <span id='register_tip'></span>
                <p class='check'>已經有帳戶了?<span class='register' id='login_click'>點此登入</span></p>
            </form> 
        </div>
    </div>
    <div class='NavBarBox' >
        <div class="NavBar">
            <a href='/'><h1 class='title'>台北一日遊</h1></a>
            <ul>
                <li>預定行程</li>
                <li class='select'>登入/註冊</li>
            </ul>
        </div>
    </div>
    <div class='part'></div>
    <div class='mainBox'>
        <div class='main-introduce'>
            <div class="CarouselBox">
                <ol class='Carousel'></ol>
                <span class='CarouselLeft'></span>
                <span class='CarouselRight'></span>
                <ul class="CarouselCircle" id='CarouselCircle'></ul>
            </div>
            <div class='orderBox'>
                <div class='top_order'>
                <h3 id='name'></h3>
                <p>
                    <span id='cat2'></span>
                    <span>at</span>
                    <span id='mrt'></span>
                </p>
                </div>
                <div class='order'>
                    <h4>訂購導覽行程</h4>
                    <p>以此景點為中心一日行程，帶你探索城市角落故事</p>
                    <h4 class='date'>選擇日期：</h4>
                    <input type="date" class='input_date'>
                    <br>
                    <h4 class='time'>選擇時間：</h4>
                    <input type="radio" name='day' value='am' id='time_am'  class='day' checked>
                    <label for="time_am">上半天</label>
                    <input type="radio" name="day" value="pm" id='time_pm' class='day'>
                    <label for="time_pm">下半天</label>
                    <br>
                    <h4>導覽費用：</h4><span class='travel_price' id='price'>新台幣：2000元</span>
                    <div class='start-travel'>開始預訂行程</div>
                </div>
            </div>
        </div>
        <div class='part'></div>
        <div class='main-detail'>
            <div class="introduce">
                <p id='des'></p>
            </div>
            <div class='address'>
                <h3 >景點地址:</h3>
                <p id='address'></p>
            </div>
            <div class='traffic'>
                <h3>交通方式：</h3>
                <p id='transport'></div>
        </div>
    <div class='footer' >
        <p>COPYRIGHT © 2021 台北一日遊</p>
    </div>
    
    <script src='/static/login/login.js'></script>
    <script src='/static/attraction/attraction.js'></script>
   
</body>
</html>